<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />

			
	<title>nbop项目开发支撑平台</title>
	
	<link href="/Extjs4.2.2.1144/resources/ext-theme-neptune/ext-theme-neptune-all.css" rel="stylesheet" />
    <!-- <script type="text/javascript" src="Extjs4.2.2.1144/bootstrap.js"></script> -->
    <script type="text/javascript" src="/Extjs4.2.2.1144/ext-all.js"></script>
    
    <!-- 业务程序 -->
    <script type="text/javascript" src="/script/book.js"></script>
    
    <!-- 界面框架 -->
	<script type="text/javascript" src="/script/frame/center.js"></script>
	<script type="text/javascript" src="/script/frame/tree.js"></script>	
	<script type="text/javascript" src="/script/frame/main.js"></script>
			
</head>
	<body>
	
	<script type="text/javascript">

	
	</script>
		
	</body>
</html>